  <nav>
    <a href="/"><img src="/images/Nuevo Logo Black.png" class="logo logo-light" alt="Logo">
    <img src="/images/Nuevo Logo White.png" class="logo logo-dark" alt="Logo"></a>
    <ul>
      <li class="dropdown">
       <a href="#">Projects <span class="arrow">&#8250;</span></a>
       <ul class="dropdown-content">
        <li>
         <img src="/images/drop-down/Blog icon.png" class="dropdown-icon" alt="Blog Icon">
         <a href="/projects/blogs/blogs.html">Blogs</a>
        </li>
        <li>
         <img src="/images/drop-down/User Manual icon.png" class="dropdown-icon" alt="User Manual Icon">
         <a href="#">User Manuals</a>
        </li>
        <li>
         <img src="/images/drop-down/White Paper icon.png" class="dropdown-icon" alt="White Paper Icon">
         <a href="#">White Papers</a>
        </li>
        <li>
         <img src="/images/drop-down/Content Strategy icon.png" class="dropdown-icon" alt="Content Strategy Icon">
         <a href="#">Content Strategy</a>
        </li>
        <li>
         <img src="/images/drop-down/Visuals icon.png" class="dropdown-icon" alt="Visuals Icon">
         <a href="#">Visuals</a>
        </li>
    </ul>
    </li>
      <li><a href="/api-documentation/">API Docs</a></li>
      <li><a href="/about/about.html">About</a></li>
    </ul>
    <button class="toggle-mode">
      <i class="fas fa-moon icon"></i>
    </button>
  </nav>

  
  
