  <nav>
    <a href="/"><img src="/images/Nuevo Logo Black.png" class="logo logo-light" alt="Logo">
    <img src="/images/Nuevo Logo White.png" class="logo logo-dark" alt="Logo"></a>
    <ul>
      <li class="dropdown">
       <a href="#">Projects <span class="arrow">&#8250;</span></a>
        <ul class="dropdown-content">
          <li>
            <a href="/projects/blogs/blogs.html" class="dropdown-link">
              <img src="/images/drop-down/Blog icon.png" class="dropdown-icon" alt="Blog Icon">
              Blogs
            </a>
          </li>
          <li>
            <a href="/projects/user_manuals/user_manuals.html" class="dropdown-link">
              <img src="/images/drop-down/User Manual icon.png" class="dropdown-icon" alt="User Manual Icon">
              User Manuals
            </a>
          </li>
          <li>
            <a href="/projects/white_papers/white_papers.html" class="dropdown-link">
              <img src="/images/drop-down/White Paper icon.png" class="dropdown-icon" alt="White Paper Icon">
              White Papers
            </a>
          </li>
          <li>
            <a href="/projects/content_strategy/content_strategy.html" class="dropdown-link">
              <img src="/images/drop-down/Content Strategy icon.png" class="dropdown-icon" alt="Content Strategy Icon">
              Content Strategy
            </a>
          </li>
          <li>
            <a href="/projects/visual/visuals.html" class="dropdown-link">
              <img src="/images/drop-down/Visuals icon.png" class="dropdown-icon" alt="Visuals Icon">
              Visuals
            </a>
          </li>
        </ul>
    </li>
      <li><a href="/api-documentation/">API Docs</a></li>
      <li><a href="/about/about.html">About</a></li>
    </ul>
    <button class="toggle-mode">
      <i class="fas fa-moon icon"></i>
    </button>
  </nav>

  
  
